<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">TP Gestion de notes de Documents</h1>
    <p class="col-md-8 fs-4">
      Vous devez créer une application de création de carnets de documents. Chaque carnet est défini par :
    </p>
    <ul>
      <li>Un id ✔</li>
      <li>Un nom ✔</li>
      <li>Une description ✔</li>
    </ul>
    <p class="col-md-8 fs-4">
      Chaque carnet peut contenir plusieurs documents. Les documents saisis via l'interface, devront être saisis en
      markdown. ✔
      <br><br>
      Vous devrez proposer de voir les documents rédigés en markdown (rédigés dans un textarea) de les consulter
      au format HTML à l'écran. ✔
      <br><br>
      Chaque document comportera :
    </p>
    <ul>
      <li>Un id ✔</li>
      <li>Un nom ✔</li>
      <li>Une catégorie ✔</li>
    </ul>
    <p class="col-md-8 fs-4">
      Que ce soit pour les carnets et les documents on pourra :
    </p>
    <ul>
      <li>En ajouter ✔</li>
      <li>Les modifier ✔</li>
      <li>Les supprimer ✔</li>
      <li>Effectuer des recherches ✔</li>
    </ul>
    <p class="col-md-8 fs-4">
      Les carnets et les documents devront être sauvegardés dans le localStorage. ✔
    </p>
  </div>
</div>
